body {
    background-color: #ea777b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;

}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header .nav_bar {

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #012434;
    z-index: 1000;
}

header .nav_bar a {
    font-family: 'Teko';
    font-size: 50px;
    text-decoration: none;
    color: #42a1e8;
}

header .nav_bar a:hover{
    color: yellow;

}

main .intro {
    background-image: url(../img/madera.jpg);
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;

}

main .intro #hero_logo {
    background-color: #012434;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 25px;
    padding-bottom: 30px;

}

main .intro #h1 {
    display: flex;
}

main .intro #h1 h1,
p {
    font-family: 'Fira Code', monospace;
    color: #f2eabc;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 30px;
}

main .intro #h1 p {
    color: #42a1e8;
    margin-right: 20px;
}

main .intro #h1 .parameter {
    color: yellow;
}

main .intro #logo p {
    font-family: 'Fira Code', monospace;
    color: #f2eabc;
    font-size: 250px;
    margin: 5px 0;
    color: yellow;
}

main .intro #hero_logo img {
    width: 300px;
    height: auto;
    margin: 10px 0;
}

main .intro #logo {
    display: flex;
    align-items: center;
}

main .intro #instructions {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 25px;
}

#instructions #inst_1,
#inst_2,
#inst_3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#instructions ul {
    list-style-type: none;
    padding: 0;
}

main .intro #instructions img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    background-color: #f2eabc;
    border-radius: 30px;
}

main .intro #instructions p {
    font-family: 'Teko';
    font-size: 100px;
    text-decoration: none;
    color: #f2eabc;
    margin: 0;
    background-color: black;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

main #ingredients,
#selection_page {
    background-color: #012434;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 25px;
    padding-bottom: 30px;

}

#ing_elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#ingredients #const,
#hero_h2,
#iqual {
    font-family: 'Fira Code', monospace;
}

#ingredients #const {
    color: #608dac;
    font-size: 50px;
    margin-bottom: 30px;
}

#ingredients #hero_h2 {
    color: #f2eabc;
    font-size: 50px;
    margin-top: 19px;
    margin-left: 15px;
    margin-bottom: 17px;
}

#ingredients #iqual {
    color: yellow;
    font-size: 50px;
    margin-bottom: 17px;
}

#list_ingredients {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: start;
}

#corc_l_index {
    color: yellow;
    font-family: 'Fira Code', monospace;
    font-size: 200px;
    grid-column: 1;
    align-self: start;
    margin-top: 0px;
}

#corch_r_index {
    color: yellow;
    font-family: 'Fira Code', monospace;
    font-size: 200px;
    grid-column: 3;
    align-self: end;
    margin-bottom: 0px;
}
#ingredients_container {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
}


.ingredient {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.ingredient:hover{
    border: 1px solid red;
    cursor: pointer;
}

.ingredient.checked {
    background-color: white;
    border: 2px;
}

.ingredient img {
    width: 50px;
    height: auto;
    margin-inline: 10px;
}

.ingredient span {
    font-size: 20px;
    color: #63afea;
    font-family: 'Fira Code', monospace;
}

.ingredient > *{
    cursor: pointer;
}

.ingredient.checked img {
    filter: drop-shadow(0px 0px 6px black);
}

.ingredient.checked span{
    font-weight: bold;
    color: #47bb8b;;
}


#select_ingredients_btn {
    margin-top: 50px;
    font-family: 'Teko';
    font-size: 50px;
    background-color: #47bb8b;
    border: 5px solid black;
    border-radius: 25px;
}

#select_ingredients_btn:hover{
    background-color: black;
    border: 5px solid #47bb8b;
    color: #47bb8b;
    cursor: pointer;
}

footer {
    margin-top: 100px;
}

#selection_hero p,
h1,
.parameter2 {
    font-family: 'Fira Code', monospace;
    color: #f2eabc;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#selection_hero{
    display: flex;
}

#selection_hero p {
    color: #42a1e8;
    margin-right: 20px
}
#recipe_cont {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

#selection_hero .parameter2 {
    color: yellow;
}

#selection_hero {
    margin-bottom: 25px;
}

#selected_recipe_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
}

#selected_recipe_container div {
    display: none;
    width: 240px;
    height: 560px;
    border-radius: 25px;
    background-color: #47bb8b;
    border: 10px solid black;

}

#selected_recipe_container>div.visible {
    display: block;
}

#selected_recipe_container>div.visible:hover{
    cursor: pointer;
    background-color: black;
    border: 10px solid #47bb8b;
    color: #47bb8b;

}

#selected_recipe_container div>img {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    border-radius: 25px;
}

#selected_recipe_container div>h2 {
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    margin-top: 20px;
}

#selected_recipe_container div>p {
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    padding-right: 10px;
}

#prev_btn,
#next_btn {
    height: 60px;
    font-family: 'Fira Code', monospace;
    font-size: 40px;
    border: 5px solid black;

}

#prev_btn {
    margin-right: 20px;
    margin-left: -40px;
}

#next_btn {
    margin-left: 20px;
    margin-right: -40px;
}

#back_btn {
    margin-top: 20px;
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    color: black;
    border: 5px solid black;
}
#prev_btn:hover, 
#next_btn:hover, 
#back_btn:hover{
    background-color: black;
    border: 5px solid #47bb8b;
    cursor: pointer;
    color: #47bb8b;
}

#back_btn a:hover{
    color: #47bb8b;
}

#corch_l_select, #corch_r_select{
    color: yellow;
    font-family: 'Fira Code', monospace;
    font-size: 200px;
}
#corch_l_select{
    margin-top: -350px;
}

#corch_r_select{
    margin-bottom: -350px;
}

#back_btn a {
    text-decoration: none;
    color: black;
}

#cont_all_recipes {
    background-color: #012434;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
    padding-bottom: 50px;
}

#hero_logo_r {
    margin-bottom: 30px;
}

#h1_r {
    display: flex;
}

#const_r,
#hero_h1,
#iqual_r {
    font-family: 'Fira Code', monospace;
    font-size: 60px;
}

#const_r {
    color: #608dac;
    margin-bottom: 20px;
    margin-right: 15px;
}

#iqual_r {
    color: yellow;
}

#container_all_recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#container_all_recipes div {

    width: 240px;
    height: 560px;
    border-radius: 25px;
    background-color: #47bb8b;
    border: 10px solid black;
}

#container_all_recipes div:hover {
    background-color: black;
    border: 10px solid #47bb8b;
    color: #47bb8b;
    cursor: pointer;
}

#container_all_recipes div>img {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    border-radius: 25px;
}

#container_all_recipes div>h2 {
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#container_all_recipes div>p {
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    padding-right: 10px;
}

#corch_all_r {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: start;
}

#container_all_recipes {
    grid-column: 2;
}

#corch_l_all {
    color: yellow;
    font-family: 'Fira Code', monospace;
    font-size: 200px;
    grid-column: 1;
    align-self: start;

}

#corch_r_all {
    color: yellow;
    font-family: 'Fira Code', monospace;
    font-size: 200px;
    grid-column: 3;
    align-self: end;
}

#cont_recipe {
    background-color: #012434;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
    padding-bottom: 50px;
}

#full_recipe_container article {
    display: flex;
    flex-direction: column;
    text-align: left;

}


#full_recipe_container article>h2 {
    font-family: 'Fira Code', monospace;
    font-size: 60px;
    color: #47bb8b;
    padding-left: 100px;
}

#full_recipe_container article>img {
    width: 600px;
    height: 600px;
    margin-top: 25px;
    margin-left:250px;
    border-radius: 25px;

}

#full_recipe_container article>p,
h3,
ol,
ul {
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    color: #7ed6fb;
    padding-left: 100px;
    padding-right: 25px;
}

#full_recipe_container article>h3 {
    margin-bottom: 40px;
    margin-top: 40px;
    color: #47bb8b;

}

#full_recipe_container article>ul {
    list-style-type: disc;
    padding-left: 120px;
}

#full_recipe_container article>ul>li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#full_recipe_container article>ul>li.missing {
    color: red;
}

#full_recipe_container article>ol>li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#cooked_recipe {
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    border: 5px solid black;
}

#cooked_recipe:hover{
    background-color: black;
    border: 5px solid #47bb8b;
    cursor: pointer;
    color: #47bb8b;
}

#history {
    background-color: #012434;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
    padding-bottom: 50px;
}

#h1_h {
    display: flex;
}

#const_h,
#hero_h1_h,
#iqual_h {
    font-family: 'Fira Code', monospace;
    font-size: 50px;
}

#const_h {
    color: #608dac;
    margin-bottom: 30px;
    margin-right: 15px;
}

#iqual_h {
    color: yellow;
}

.date_container {
    background-color: #1f1f1f;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.date_container>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 750px;
    height: 250px;
    border-radius: 25px;
    background-color: #47bb8b;
    border: 5px solid black;
    margin-bottom: 20px;

}

.date_container >div:hover{
    background-color: black;
    border: 5px solid #47bb8b;
    cursor: pointer;
    color: #47bb8b;
}

.date_container div>img {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 25px;


}

.date_container h3 {
    font-family: 'Fira Code', monospace;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.date_container div>h2 {
    font-family: 'Fira Code', monospace;
    font-size: 35px;
    padding-top: 20px;
}

.date_container div>p {
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    margin-top: -90px;
    padding-left: 10px;
    padding-right: 15px;
}

.cont_history {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: start;

}

#container_history {
    grid-column: 2;
}

#corch_h1 {
    color: yellow;
    font-family: 'Fira Code', monospace;
    font-size: 200px;
    grid-column: 1;
    align-self: start;

}

#corch_h2 {
    color: yellow;
    font-family: 'Fira Code', monospace;
    font-size: 200px;
    grid-column: 3;
    align-self: end;
    padding-bottom: 35px;
}